.pr-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pr-reset-form{
    margin-top: 20%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}